@font-face {
  font-family: "iconfont"; /* Project id 4581036 */
  src: url('//at.alicdn.com/t/c/font_4581036_klloq5pcdb.woff2?t=1736825630692') format('woff2'),
       url('//at.alicdn.com/t/c/font_4581036_klloq5pcdb.woff?t=1736825630692') format('woff'),
       url('//at.alicdn.com/t/c/font_4581036_klloq5pcdb.ttf?t=1736825630692') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log:before {
  content: "\e9fc";
}

.icon-flowAttr:before {
  content: "\e6c4";
}

.icon-taskStatus:before {
  content: "\e603";
}

.icon-batchStatus:before {
  content: "\e9fb";
}

.icon-batchControl:before {
  content: "\e65b";
}

.icon-sclogo:before {
  content: "\e600";
}

.icon-ruleEngine:before {
  content: "\e89d";
}

.icon-logout:before {
  content: "\e605";
}

.icon-settings:before {
  content: "\e604";
}
