@font-face {
  font-family: "iconfont"; /* Project id 4581036 */
  src: url('//at.alicdn.com/t/c/font_4581036_a5wj3kmkwju.woff2?t=1736760461525') format('woff2'),
       url('//at.alicdn.com/t/c/font_4581036_a5wj3kmkwju.woff?t=1736760461525') format('woff'),
       url('//at.alicdn.com/t/c/font_4581036_a5wj3kmkwju.ttf?t=1736760461525') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sclogo:before {
  content: "\e600";
}

.icon-ruleEngine:before {
  content: "\e89d";
}

.icon-batchControl:before {
  content: "\e667";
}

.icon-logout:before {
  content: "\e605";
}

.icon-settings:before {
  content: "\e604";
}
